body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}
#user-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.user-card {
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(0,0,0,0.2);
}